[Unit]
Description=USBIPd

[Service]
ExecStart=/scripts/usbipd.sh start
ExecStop=/scripts/usbipd.sh stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
